/*
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
*/

#ep-sidebar p {
	margin-bottom: 0.5rem;
}

.hero.is-light {
    background-image: url("../imgs/bg.jpeg");
    background-color: #ACBF9C;
}

.hero.is-light .title, .hero.is-light .subtitle {
	color: rgba(255,255,255,.9);
}