.navbar {
  box-shadow: none;
}

#ep-sidebar p {
	margin-bottom: 0.5rem;
}

.hero.is-light {
    background-image: url("../imgs/bg.jpeg");
    background-color: #ACBF9C;
}

.hero.is-light .title, .hero.is-light .subtitle {
	color: rgba(255,255,255,.9);
}